
.wrapper {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.top {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/background_top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.button {
  /* height: 32px; */
  background-color: Transparent;
  background-repeat:no-repeat;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor:pointer;
  font-size: 0.8rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  margin: 1rem 0.3rem 0;
}
.button:hover {
  border: solid 2px rgb(255, 255, 255);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 767px) {

  .header > div:nth-child(1,2) {
    text-align: center;
    flex-basis: 30%;
    margin-top: 1rem;
  }
  .header > div:nth-child(3) {
    text-align: center;
    flex-basis: 50%;
    margin-top: 1rem;
  }


}
.urlaubs a h3 {
  margin-top: 6rem;
}
.header a {
  text-decoration: none;
}
.header h3 {
    color: rgb(255, 255, 255);
}
.header h5 {
  text-transform: capitalize;
  margin: 0.5rem 1rem;
}
.header h3 {
  text-transform: uppercase;
}
.main {
  text-align: center;
}
.main h1, p {
  color: rgb(255, 255, 255);
}
.main h1 {
  text-transform: uppercase;
  font-size: 1.7rem;
}
.main p {
  margin: 0 35px;
  opacity: 0.8;
}
.red-button {
  width: auto;
  background-color: #f44336;
  border: 2px solid #f44336;
  margin: 1rem auto;
  border-radius: 20px;
  color: white;
  padding: 7px 20px;
  cursor:pointer;
  text-align: center;
  font-size: 14px;
  transition-duration: 0.4s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  vertical-align: middle;
}

.red-button:hover {
    background-color: white;
    color: #f44336;
}
/* _________________________________BOTTOM __________________________________*/

.bottom {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.bottom h2 {
  margin: 4rem 0.7rem;
}
.items h5 {
  margin: 1.3rem auto 0.5rem;

}
.items p {
  color: rgb(0, 0, 0);
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  opacity: 0.8;
}
.photo-one,
.photo-two,
.photo-three,
.photo-four {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.item > div img {
  border-radius: 50%;
}

.photo-one::before,
.photo-two::before,
.photo-three::before,
.photo-four::before {
  position: absolute;
  display: block;
  width: 2rem;
  height: 2rem;
  border: solid 3px rgb(255, 255, 255);
  text-align: center;
  vertical-align: middle;
  bottom: 0;
  right: -5%;
  border-radius: 50%;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
}

.photo-one:hover::before,
.photo-two:hover::before,
.photo-three:hover::before,
.photo-four:hover::before {
    background-color: #555;
}

.photo-one::before {
  background-image: url("../img/tv.png");
  background-color: red;
}

.photo-two::before {
  background-color: rgb(255, 175, 92);
  background-image: url("../img/glass.png");
}
.photo-three::before {
  background-color: rgb(0, 235, 178);
  background-image: url("../img/cup.png");
}
.photo-four::before {
  background-color: rgb(0, 109, 189);
  background-image: url("../img/paper_flight.png");
}
.white-button {
  width: 80%;
  background-color: white;
  border: 2px solid #f44336;
  margin: 1rem auto;
  border-radius: 20px;
  color: red;
  padding: 7px 20px;
  cursor:pointer;
  text-align: center;
  font-size: 14px;
  transition-duration: 0.4s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.white-button:hover {
    background-color: #f44336;
    color: white;
}
