@import "fonts.css";

   .wrapper {
     min-width: 100vh;
   }
   .services {
     display: flex;
     flex-direction: column;
   }
   header {
     display: flex;
     flex-direction: row;
     margin-bottom: 3rem;
     height: 5rem;
   }
   h6 {
     font-size: 11px;
   }
   .golden {
     display: flex;
     justify-content: center;
     width: 45%;
     text-transform:
   }
   .golden_a {
     width: 25%;
   }

   .golden_a h2 {
     color: gold;
     margin: 0 auto;
     text-align: center;
     height: 5rem;
     line-height: 5rem;
     font-family: 'Yellowtail';
     text-decoration: none;
   }

   .golden a {
     text-decoration: none;
   }
   .golden_a h2:hover {
     color: rgb(80, 50, 80);
   }


   nav {
     display: flex;
   }
   nav ul {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
   }

   nav li {
      text-transform: uppercase;
     list-style-type: none;
     padding: 0 1rem;
     font-family: sans-serif;
   }
   nav li:hover {
     color: gold;
   }
   .divname {
     margin: 0 auto 3rem;;
   }
   .divname h3 {
     vertical-align: middle;
     margin: 0 auto;
     padding: 0 4rem;
     font-size: 2rem;
     text-transform: uppercase;
     font-family: sans-serif;
   }

   .divname p {
     text-align: center;
     margin: 1rem auto;
     font-style: italic;
     color: rgb(99, 99, 99);
   }

   .divname_low h3 {
     color: rgb(255, 255, 255);
     vertical-align: middle;
     padding: 0 4rem;
     font-size: 2rem;
     text-transform: uppercase;
     font-family: sans-serif;
     margin: 0 auto;
   }

   .divname_low p {
     text-align: center;
     margin: 1rem auto;
     font-style: italic;
     color: rgb(99, 99, 99);
   }

   .items {
     display: flex;
     justify-content: center;
   }

   .items >div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 25%;
     text-align: center;
   }
   .items h4 {
     font-family: sans-serif;
     text-transform: capitalize;
     margin: 1.5rem auto 0;
   }
   .items p {
     padding: 0 1rem;
     font-size: 0.75rem;
     color: rgb(99, 99, 99);
   }
   .img_one {
     width: 4.5rem;
     height: 4.5rem;
     border-style: solid;
     border-color: gold;
     border-width: 3px;
     border-radius: 50%;
     background-image: url(../img/garbrige.jpg);
     background-repeat: no-repeat;
     background-position: center;
   }
   .img_two {
     width: 4.5rem;
     height: 4.5rem;
     border-style: solid;
     border-color: gold;
     border-width: 3px;
     border-radius: 50%;
     background-image: url(../img/mark.jpg);
     background-repeat: no-repeat;
     background-position: center;
   }
   .img_three {
     width: 4.5rem;
     height: 4.5rem;
     border-style: solid;
     border-color: gold;
     border-width: 3px;
     border-radius: 50%;
     background-image: url(../img/lock.jpg);
     background-repeat: no-repeat;
     background-position: center;
   }
   .contactus {
     display: flex;
     flex-direction: column;
     background-color: rgb(28, 28, 28);
     background-image: url(../img/amer.png);
     background-repeat: no-repeat;
     background-position: 100% 100%;
   }
   .divname_low {
     margin: 4rem auto 1rem;
   }

   .form {
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
   form {
     display: flex;
     flex-direction: column;
   }

   .massage {
     display: flex;
     justify-content: center;
     width: 100%;

   }
   .form-data {
     display: flex;
     width: 45%;
     flex-direction: column;
   }

   .form-data input {
    margin: 1rem;
    width: 80%;
    height: 1.25rem;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.725rem;
    font-weight: 800;
    color: rgb(142, 142, 142);
    border: 1px solid rgb(0, 0, 0);
    vertical-align: middle;
    border-radius: 3px;
    background-color: #fff;
  }

  .form-massage {
    width: 45%;
  }

  .form-massage textarea {
  margin: 1rem;
  width: 100%;
  height: 74%;
  padding: 1rem;
  font-size: 0.725rem;
  font-weight: 800;
  color: rgb(142, 142, 142);
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  resize: none;
}

.button {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #fff;
  background-color: rgb(241, 200, 23);
  margin: 1rem auto 5rem;
  width: 25%;
  height: 4rem;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 800;
  border: 1px solid rgb(241, 200, 23);
  vertical-align: middle;
  border-radius: 3px;
}
