.footer__title {
  margin-top: 3rem;
}
.footer__text {
  margin: 2rem 2rem 0 6rem;
  font-size: 0.65rem;
  opacity: 0.9;
  text-align: center;
}

.title {
  text-align: center;
  }

  .person {
    margin: 3rem auto;
    position: relative;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }

img {
    width: 100%;
    height: auto;
    display: block;
}

.person:before {
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
}
.person:hover:before {
    background: -webkit-gradient(linear, left bottom, left top, from(#f2e291), to(#ea8a89));
    background: -webkit-linear-gradient(bottom, #f2e291, #ea8a89);
    background: -o-linear-gradient(bottom, #f2e291, #ea8a89);
    background: linear-gradient(to top, #f2e291, #ea8a89);
    -webkit-box-shadow: 10px 10px #95e1d3;
            box-shadow: 10px 10px #95e1d3;
    opacity: 0.8;
}
.link {
  padding: 0.9rem;
  fill: #f38181;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fce38a;
}
.link:hover {
  fill: #fff;
  background-color: #f38181;
}
.social {
  cursor: pointer;
  display: none;
  position: absolute;
}

.facebook {
  left: 4.0rem;
  top: 45%;
}
.twitter {
  left: 7.5rem;
  top: 45%;
}

.pinterest {
  left: 11.0rem;
  top: 45%;
}

.instagram {
  left: 14.5rem;
  top: 45%;
}
.person:hover .social {
    display: block;
}
.person__name {
  text-transform: uppercase;
}

.person__position {
  text-transform: capitalize;
  font-style: italic;
  font-size: 0.65rem;
  opacity: 0.9;
}
