.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  margin: 3rem 0; }

.icon {
  fill: #95e1d3;
  width: 2.0rem;
  height: 2.0rem;
  background: transparent; }
  .icon:hover {
    fill: #f38181; }

.item__content {
  margin-left: 1.5rem; }

.item__title a {
  text-decoration: none;
  color: black;
  text-transform: uppercase; }

.item__content-text {
  font-size: 0.65rem;
  opacity: 0.9; }

.red-line {
  margin: 0 auto;
  width: 60px;
  height: 0;
  border: solid 1px #f38181; }
