html {
    background-image: url(../img/background.jpg);
    background-size: cover;
}

body {
  font-family: 'Pathway Gothic One';
}

.wrapper {
  background-color: white;
  width: 480px;
  margin: auto;
  padding: 40px;
  margin-top: 200px;
  margin-bottom: 400px;
}

.priciples {
  padding: 20px 0 50px 0;
  border-bottom: 1px 	#708090;
}

.offer {
  padding-top: 40px;
}

h2,h4 {
  color: #00008B;
}

   .under_img {
     color: #00008B;
   }

  .ul_1 {
    display: inline-block;
    width:230px;
    margin: 0 auto;
     }

  .ul_2 {
    width:230px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    }

    li {
      list-style-type: none; /* Убираем маркеры */
      padding-top: 10px;
      }
