

  body {
     font-family: Pathway Gothic One, PathwayGothicOne-Regular, Pathway Gothic One Regular;
     font-style: normal;
     font-weight: 400;
     background-image: url(../img/background.jpg);
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
   }

   @font-face {
     src: local('Pathway Gothic One Regular'), local('PathwayGothicOne-Regular'), url(https://fonts.gstatic.com/s/pathwaygothicone/v6/Lqv9ztoTUV8Q0FmQZzPqaBRcxZ7No-r1mAtcnpNU5cQ.woff2) format('woff2');
     unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
   }


   .wrapper {
     min-height: 100vh;
   }

   header {
     width: 64rem;
     height: 200px;
     margin: 0 auto;
   }

   header ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     padding: 0 40px;
     }

   header a {
     text-decoration: none;
     font-size: 20px
   }

   header h2 {
     color: #fff;
     font-family: inherit;
     font-weight: lighter;
   }

   header a h2:hover {
     color: #2a375a;
   }

   .journey h1 {
     color: rgb(21, 20, 45);
     font-size: 25px;
     transform:scaleY(3);
     font-family: Advent Pro, sans-serif;
     font-weight: lighter;
     letter-spacing: 0.1px;
     font-family: 'Arimo', sans-serif;
     }

   header a h1:hover {
     color: turquoise;
   }

   .journey {
     width: 140px;
     height: 140px;
     border-radius: 50%;
     background-color: rgb(255, 255, 255);
     text-align: center;
     vertical-align: middle;
     display: table-cell;
   }

   /*  -----------------ABOUT------------------------*/

 .dropdown {
     position: relative;
     display: inline-block;
 }
 .dropdown a h2 {
   margin: 10px auto;

 }
 .dropdown a h2:hover {
   color: #2a375a;
}


 .dropdown-content {
   width: 60px;
   padding: 0 8px;
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   border-radius: 2px;
   text-align: center;
   left: -10px;
   vertical-align: top;
 }

 .dropdown-content::before {
   content: "";
   display: block;
   width: 0;
   height: 0;
   border-bottom: 6px solid white;
   border-left: 4px solid transparent;
   border-right: 4px solid transparent;
   position: absolute;
   top: -5px;
   left: 33px;
 }

 .dropdown-content a {
     color: black;
     padding: 4px 0px;
     text-decoration: none;
     display: block;
 }
 .dropdown-content a:hover {
   background-color: #f1f1f1
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 /*-----------------------ABOUT END-------------------------  */

.main {
  display:flex;
  max-width: 1024px;
  background-color: white;
  margin: 0 auto;
}
.left {
  margin: 60px 20px 60px 60px;
  width: 66%;
}
.tours_specials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  width: 48%;
}

.item > div {
  font-family: 'Roboto', sans-serif;
}
.item > div:nth-child(1) {
  width: 133px;
  height: 114px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.item > div:nth-child(2) {
  margin: 0.5rem 0;
}

.img_bongalo {
  background-image: url(../img/bungalo.jpg);
}
.img_china_lake {
  background-image: url(../img/china_lake.jpg);
}
.img_hotel_rock {
  background-image: url(../img/hotel_rock.jpg);
}
.img_hotel {
  background-image: url(../img/hotel.jpg);
}
.img_moscow {
  background-image: url(../img/moscow.jpg);
}
.img_house {
  background-image: url(../img/house.jpg);
}

h2 {
  text-transform: uppercase;
  color: #2a375a;
  font-size: 32px;
  font-weight: lighter;
}

h4 {
  margin: 0.2rem 0 1rem;
  text-transform: uppercase;
  color: rgb(79, 177, 240);
  font-weight: lighter;
  font-size: 16px;
}

h5 {
  font-weight: lighter;
  margin: 0 auto;
  color: #2a375a;
}

.content p {
  margin: 0.8rem 0 0;
  font-size: 0.6rem;
}

button {
  text-transform: capitalize;
  border: 1px rgb(157, 149, 145);
  border-style: solid;
  border-radius: 3px;
}

.browse_search {
  margin: 4rem 0;
}

.browse {
  display: flex;
  flex-direction: column;
}
.browse h6 {
  font-family: 'Roboto', sans-serif;
  margin: 1rem 0;
  font-weight: lighter;
  margin: 0 0 10px;
  color: #2a375a;
}
.browse button {
  width: 40%;
  margin: 40px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
select {
    width: 211px;
    height: 22px;
    color: rgb(120, 117, 119);
    border: 2px solid rgb(180, 180, 180);
    vertical-align: middle;
    background-color: rgb(245, 245, 245);
    font-size: 11px;
}
option {
  margin-top: 5px;
  background-color: rgb(180, 180, 180);

}
.search {
  display: flex;
  flex-direction: column;
}

.search h2 {
  margin: 10px 0;
}

.search h6 {
  font-family: 'Roboto', sans-serif;
  margin: 1rem 0;
  font-weight: 100;
  margin: 16px 0 8px;
}

.h6-blue {
  text-transform: capitalize;
  color: rgb(79, 177, 240);
}
.search button {
  width: 40%;
  margin: 40px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
footer {
  display: flex;
  flex-direction: row;
  width: 1024px;
  height: 133px;
  margin: 0 auto;
  background-color: rgb(47, 55, 74);
  color: rgb(255, 255, 255);
}
.foot {
  flex-basis: 70%;
}
footer h4 {
  color: rgb(255, 255, 255);
  font-family: inherit;
  font-weight: lighter;
    margin: 0 auto;
}
.foot {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px 40px 120px;
}
.foot >div {
  flex-basis: 33%;
}
.it a {
  list-style: none;
}
.contus {
  width: 30%;
  align-content: center;
    padding-top: 20px;
}
.contus h3 {
  font-family: inherit;
  font-weight: lighter;
}
#social {
    position: relative;
}
#social li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    border-radius: 50%;
  }
#social li, #social a {
    width: 40px;
    height: 40px;
    display: block;
}
#tw {
    left: 0px;
    background: url('../img/sprite.jpg') 0 0;
}
#fb {
    left: 52px;
    background: url('../img/sprite.jpg') -38px 0;
}
#google {
    left: 104px;
    background: url('../img/sprite.jpg') -75px 0;
}
#in {
      left: 156px;
      background: url('../img/sprite.jpg') -115px 0;
}

.social_links {
  width: 220px;
  height: 60px;
  margin: 0 auto;
}
.signiture {
  margin: 0 auto;
  color: white;
}
.signiture p {
  font: caption;
  display: block;
  text-align: center;
}
.signiture span {
  font-size: 17px;
}
#myBtn {
  margin: 0;
  width: 30px;
  height: 30px;
  display: none;
  position: fixed;
  bottom: 80px;
  right: 50px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: rgb(19, 208, 241);
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
#myBtn:hover {
    background-color: #555;
}
